name: Add semver
on:
  push:
    branches:
      - feat-semver
    paths:
      - '.github/workflows/test-semver.yml'

permissions:
  contents: read

jobs:
  test-semver:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v4.2.0
        with:
          versionSpec: '6.4.x'

      - name: Generate semver
        id: generate_semver
        uses: gittools/actions/gitversion/execute@v4.2.0

      - name: Show semver
        run: |
          echo "FullSemVer: ${{ steps.generate_semver.outputs.fullSemVer }}"